/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/






#container
{ 
	background: #48ACDE;
	width: 75%;
	margin: 0 auto; 
	padding: 0 10px;
	border: 4px #FF7D20;
} 

#main { 
	background: #242424;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #BBBBBB; 
}

#box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	border-collapse: collapse;
}
#box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

#box-table-a td.odd {
	background-color: #FFF;
	
}







#navigation {	
  margin: 0 auto;
  padding: 0;
	list-style-type: none;  
	position: relative;
	z-index: 1;
	border-bottom:1px solid #575757;
	/* overwrite base */
	float:none;
	width:100%;

}

#navigation ul {
  margin: 0;
  padding: 0;
}

#navigation li {
	display: inline;
	margin: 0;
	font-size: 24px;
	padding: 0;
	color: #FFF;
}

#navigation a {
	border: 2px solid #575757;
	border-bottom: none;
	padding: 5px 15px 5px 15px;
	color: #FFF;
	margin-right: 5px;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	font: helvetica;
	border-radius: 5px;
	
}

#navigation a:hover {
	color: #FFF;
	
}



#nsavigation_blob {
    top: 0;
	background-color: #c0ffee;
	position: absolute;
	z-index: -1;
}


#navigation_blob {

 border-right: 1px solid #0059ec;
 border-left: 1px solid #0059ec;
 position: absolute;
 top: 0;
 z-index : -1;
 background: #0b2b61;
 background: -moz-linear-gradient(top, #0b2b61, #1153c0);
 background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;

}















