/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

@font-face {
	font-family: 'KomikaAxisRegular';
    src: url('/assets/KOMIKAX_-webfont.eot');
    src: url('/assets/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/KOMIKAX_-webfont.woff') format('woff'),
         url('/assets/KOMIKAX_-webfont.ttf') format('truetype'),
         url('/assets/KOMIKAX_-webfont.svg#KomikaAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/assets/ArchitectsDaughter-webfont.eot');
    src: url('/assets/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/ArchitectsDaughter-webfont.woff') format('woff'),
         url('/assets/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('/assets/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




#container
{ 
	background: #48ACDE;
	width: 80%;
	margin: 0 auto; 
	padding: 0 10px;
	border: 4px #FF7D20;
	clear: left;
} 

#main { 
	background: #242424;
	font-family: 'ArchitectsDaughterRegular';
	color: #BBBBBB; 
}

.box-table-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 100%;
	text-align: left;
	margin: 0 auto;
	padding: 0;
	border-collapse: collapse;
}
.box-table-a th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.box-table-a td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}

.box-table-a td.odd {
	background-color: #FFF;
	
}





 /* Begin navigation bar styling. */



.nav {
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    
    
    /*border-bottom: 1px solid #ccc; 
    border-top: 1px solid #ccc; */}
 .nav li {
    float: left;
     background-color: #909090;
     border: 2px solid #242424;  
}
 .nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-family: 'KomikaAxisRegular';
   
    color: #069; 
    width: 100px;
    height: 40px;
    text-align: center;
    }
 .nav li a:hover {
    color: solid green ;
     }
 /* End navigation bar styling. */






